  .container{
    height: 700px;
    width: 1200px;
    display: flex;
    flex-direction: column;
   
  }
h2{
  text-align: center;
}
.pianoBlock{
  border: 3px solid wheat;
  width: 450px;
  height: 500px;
  align-self: center;
  text-align: center;

}
.piano{
  width: 350px;
  height: 400px;
  margin: 0 50px;
}